<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div layout:fragment="content1" class="container my-2">
    <div class="container mt-2">
        <div class="card">
            <div class="card-header">
                <h2>Ajouter un Role</h2>
            </div>
            <h3>Role attribué :</h3>
            <h5 class="text-warning" th:text="${erreur}"></h5>
            <table class="table">
                <thead>
                <tr>
                    <th>Role Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="role : ${roleCollection1}">
                    <td th:text="${role.roleName}"></td>
                    <td>
                        <form th:action="@{/deleteRoleToUser(us=${us}, role=${role.roleName})}" method="post">
                            <button type="submit" th:class="${role.roleName == 'ADMIN' ? 'btn btn-danger' : 'btn btn-success'}">Retirer</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
            <div class="container card-body mt-2" style="display:inline-flex;">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Role Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="role : ${roleCollection}">
                        <td th:text="${role.roleName}"></td>
                        <td>
                            <form th:action="@{/AddRoleToUser(us=${us}, role=${role.roleName})}" method="post">
                                <button type="submit" th:class="${role.roleName == 'ADMIN' ? 'btn btn-danger' : 'btn btn-success'}">Ajouter</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <a th:href="@{/AddUserPhoto?us=}+${us}" class="btn btn-primary">Suivant</a>
    </div>
</div>
</body>
</html>
